.page[b-i4kof1qbif] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-i4kof1qbif] {
    flex: 1;
}

.sidebar[b-i4kof1qbif] {
    background-image: linear-gradient(180deg, rgb(133, 0, 0) 0%, #3a0647 70%);
    /* Cambiar el color de fondo de la barra lateral a rojo */
}

.top-row[b-i4kof1qbif] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row a[b-i4kof1qbif], .top-row .btn-link[b-i4kof1qbif] {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    /* Cambiar el color del texto en la barra superior a rojo */
    color: red;
}

.top-row a:hover[b-i4kof1qbif], .top-row .btn-link:hover[b-i4kof1qbif] {
    text-decoration: underline;
}

.top-row a:first-child[b-i4kof1qbif] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-i4kof1qbif] {
        display: none;
    }

    .top-row.auth[b-i4kof1qbif] {
        justify-content: space-between;
    }

    .top-row a[b-i4kof1qbif], .top-row .btn-link[b-i4kof1qbif] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-i4kof1qbif] {
        flex-direction: row;
    }

    .sidebar[b-i4kof1qbif] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-i4kof1qbif] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth a:first-child[b-i4kof1qbif] {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-i4kof1qbif], article[b-i4kof1qbif] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
